.Footer{
  display: flex;
  height: 10vh;
  align-content: right;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  justify-content: flex-end;
  align-self: flex-end;
}

.FooterText{
  margin-right: 16px;
  align-items: right;
  color: greenyellow;
  opacity: 50%;
}

