*, *::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  overflow: hidden;
  background-image: url("../imgs/FlappyBirdBackground.png")
}

.title {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset:0;
  margin:0;
  flex-direction: column
}

.subtitle{
  margin-top: .5rem;
}

.hide{
  display: none;
}
.bird{
  --bird-size: 30px;
  --bird-top:-1000;
  position: absolute;
  background-color: hsl(50,75%, 50%);
  width: var(--bird-size);
  height: var(--bird-size);
  left: var(--bird-size);
  top: calc(var(--bird-top)*1px);
  border-radius:50%;
  margin-left: 10vw;
}

.pipe{

  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--pipe-width)*1px);
  left: calc(var(--pipe-left)*1px);
}

.pipe > .segment{
  position: absolute;
  width:100%;
  background-color: hsl(100,75%, 50%);
}

.pipe > .top {
  top:0;
  bottom: calc(var(--hole-top)*1px);
}

.pipe > .bottom {
  top: calc(100vh - (var(--hole-top)*1px) + calc(var(--hole-height)*1px));
  bottom:0;
}