@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,*::after, *::before{
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

:root{
  --hue: 200;
  --saturation:50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}

.pongFrame{
  position: relative;
  height: 100%;
  width: 100%;

   background-color: var(--background-color);
}

body{
  height: 100vh;
  width: 100vw;
  margin:0;
  overflow: hidden;

}

.title {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset:0;
  margin:0;
  flex-direction: column
}

.paddle{
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position)*1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 13vh;
}

.hide{
  display: none;
}

.paddle.left{
  left:1vw;
}

.paddle.right{
  right: 1vw;
}

.ball{
  --x: 50;
  --y: 50;

  position: absolute;
  background-color: var(--foreground-color);
  left: calc(var(--x)*1vw);
  top: calc(var(--y)*1vh);

  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}

.score{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color)
}

.score > *{
  flex-grow:1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}

.score> :first-child{
  text-align: right;
  border-right: .5vh solid var(--foreground-color)
}

/* .pauseImgDiv{
  display: flex;
  justify-content: center;
} */

.pauseMsg{
  position: absolute;
  /* display:block; */
  /* margin:auto; */
  visibility: hidden;
  opacity: 20%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}